  <!-- Footer -->
  <div id="my-footer">
      <div class="footer-container">
          <div class="copyright-text">
              © 2015 BeTheme by <a href="#">Muffin group</a> | All Rights Reserved | Powered by <a href="https://wordpress.org/">WordPress</a>
          </div>
          <a href="#" id="back-to-top" title="Back to top">
          ^
          </a>
      </div>
  </div>
